.button {
    --border_radius: 333333px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 7px 15px;
    transform: scale(calc(1 + (var(--active, 0) * 0.1)));
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #02060e;
    border-radius: var(--border_radius);
}

.button .dots_border {
    --size_border: calc(100% + 5px);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--size_border);
    height: var(--size_border);
    border-radius: var(--border_radius);
    z-index: -10;
}

.button .dots_border::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    transform: rotate(0deg);
    width: 100%;
    height: 2rem;
    background-color: #ff4955;
    mask: linear-gradient(transparent 0%, #ff4955 120%);
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.button .sparkle {
    z-index: 10;
    width: 1.75rem;
}

.button .sparkle .path {
    fill: currentColor;
    stroke: currentColor;
    transform-origin: center;
    color: #9ab3db;
}

.button:is(:hover, :focus) .sparkle .path {
    animation: path 1.5s linear 0.5s infinite;
}

.button .sparkle .path:nth-child(1) {
    --scale_path_1: 1.2;
}

.button .sparkle .path:nth-child(2) {
    --scale_path_2: 1.2;
}

.button .sparkle .path:nth-child(3) {
    --scale_path_3: 1.2;
}

@keyframes path {

    0%,
    34%,
    71%,
    100% {
        transform: scale(1);
    }

    17% {
        transform: scale(var(--scale_path_1, 1));
    }

    49% {
        transform: scale(var(--scale_path_2, 1));
    }

    83% {
        transform: scale(var(--scale_path_3, 1));
    }
}

.button .text_button {
    z-index: 10;
    background-color: #9ab3db;
    background-clip: text;
    font-size: 1rem;
    font-weight: 800;
    color: transparent;
}